@font-face {
    font-family:monday-feelings;
    src: url(monday-feelings-font/MondayFeelings-7BD2l.ttf);
    
}


body {
    background-color:rgb(201, 199, 199);
    margin:0;

}

.carousel-caption {
    font-family: monday-feelings;
    color:#ffffff;
}



.header_img {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 1rem;

      }

.topnav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
    padding-top: 1rem;
    }


.topnav a {
    text-decoration: none;
    font-family: monday-feelings;
    display: flex;
    justify-content: space-evenly;
    display:block;
    font-size: 22px;
    padding: 14px 16px;
}

.topnav a:hover {
    background-color: #e5e5e5;
}

.topnav a:visited,
.topnav a:link {
    color: #26616c;
}



.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

main {
    background-color: white;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: 1rem;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: monday-feelings;
}




div {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.gone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 5px;
}

.span2 {
    position: relative;
    left: 170px;
    bottom: 28px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

a:visited,
a:link {
    color: #26616c;
}




img {
    border: 4px solid darkgray;
   
}

.past {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap:15px;
}

@media screen and (max-width: 600px){
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        display: block;
    }
}

.button1 {
    background-color: lightgray;
    border: solid 3px black;
    color: #26616c;
    padding: 28px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 1rem;
}

.button2 {
    background-color: lightgray;
    border: solid 3px black;
    color: #26616c;
    padding: 18px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 1rem;
}

.button3 {
    background-color: lightgray;
    border: solid 3px black;
    color: #26616c;
    padding: 18px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 1rem;
}

.left {
    margin:0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.right {
    margin:0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    position: relative;
    border: 3px solid gray; 
    background-color: #26616c;
    height: 250px;
    width: auto;
    border-radius: 1rem;
    justify-content: space-evenly;
  }
  
  .vertical-center {
    margin: 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   
  }

  .line {
    background-color:#88C2CC;
    height: 4px;
    border: none;
  }
 
  p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
     
  }

  

  #Cats {
    background-color:lightgray;
    border: solid 3px #26616c;
    color: black;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 1rem;
    margin: 10px;
    width: 100px;
  }

  #Dogs {
    background-color:lightgray;
    border: solid 3px #26616c;
    color: black;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 1rem;
    margin: 10px;
    width: 100px;
  }

  #All {
    background-color:lightgray;
    border: solid 3px #26616c;
    color: black;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius:1rem;
    margin: 10px;
    width: 100px;
  }

  .kitten {
    display: block;
  margin-left: auto;
  margin-right: auto;

  }
  